<!DOCTYPE html>
<head>
    <title>ACCOUNT CREATED SUCCESSFULLY</title>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
</head>
<body class="base-container">
    <div class="account_created_successfully_layout">
        <a href = "login.html"><i class="fa-sharp fa-solid fa-book"></i></a>
        <div class="account_created_successfully_square">
            <div style="text-align: left;">ACCOUNT CREATED SUCCESFULLY</div>
            <div style="font-size: smaller; text-transform: lowercase; text-align: right;">activation link has been sent to your e-mail addres</div>
        </div>
        </div>
            <section><button style="text-transform: lowercase;" class="navbutton"><a href="">go shopping</a></button></section>
        </div> 
    </div>
</body>