<!DOCTYPE html>
<head>
    <title>BOOK UNAVAILABLE</title>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
</head>
<body class="bookunavailable_container">
    <a href = "login.html"><i class="fa-sharp fa-solid fa-book"></i></a>
    <div class="bookunavailable_square"><div class="bookunavailable_text">This book is not available in our bookstore</div></div>
    <img class="bookunavailable_image" src="../img/bookunavailable_image.svg">
    <form  class="bookunavailable_form">
        <div>
            <input class="bookunavailable_checkbox" type="checkbox">
            <label>tell me, when available</label>
        </div>
    </form>
    <a class="bookunavailable_footer" href=""><img  src="../img/back.svg"></a>
   
</body>