<!DOCTYPE html>
<head>
    <title>CART</title>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
</head>
<body class="cart_container">
    <a href = "login.html"><i class="fa-sharp fa-solid fa-book"></i></a>
    <div class="herewehave_square">here we have:</div>
    <div class="booklist">BOOK LIST:</div>
    <div class="cartbutton_layout">
        <div class="cart_image"><img src="../img/cart.svg"></div>
        <button class="backtoshop_button"><a href="whatyouarelooking.html">back to shop</a></button>
        <button class="buy_button"><a href="enteryoushippingaddres.html">BUY</a></button>
    </div>
</body>