<!DOCTYPE html>
<head>
    <title>CHANGE NUMBER</title>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
</head>
<body class="changeemail_container">
        <a href = "login.html"><i class="fa-sharp fa-solid fa-book"></i></a>
        <form class="changepassword_form">
            <label class="changepassword_label">old number</label>
            <input class="changepassword_formsquare">
            <label class="changepassword_label">new number</label>
            <input class="changepassword_formsquare">
            <label class="changepassword_label">confirm new number</label>
            <input class="changepassword_formsquare">
        </form>
        <div class="changeemail_image"><img src="../img/changenumber_image.svg"></div>
        <button class="changeemail_button"><a href="emailchangedsuccessfully.html">CHANGE NUMBER</a></button>
        <a href="settings.html" class="changeemail_back"><img  src="../img/back.svg"></a>
</body>