<!DOCTYPE html>
<head>
    <title>CHANGE PASSWORD</title>
    <link rel="stylesheet" type = "text/css" href="public/css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
</head>
<body class="changepassword_container">
    <a href = "login.html"><i class="fa-sharp fa-solid fa-book"></i></a>
    <form class="changepassword_form">
        <label class="changepassword_label">old password</label>
        <input class="changepassword_formsquare">
        <label class="changepassword_label">new password</label>
        <input class="changepassword_formsquare">
        <label class="changepassword_label">confirm new password</label>
        <input class="changepassword_formsquare">
    </form>
    <div class="changepassword_image"><img src="public/img/changepassword_image.svg"></div>
    <button class="changepassword_button"><a href="passwordchangedsuccessfully.html">CHANGE PASSWORD</a></button>
    <a href="settings.html" class="changepassword_back"><img  src="public/img/back.svg"></a>
</body>