<!DOCTYPE html>
<head>
    <title>E-BOOK SENT</title>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
</head>
<body class="ebooksent_container">
        <a href = "login.html"><i class="fa-sharp fa-solid fa-book"></i></a>
        <div class="ebooksent_square"><div class="ebooksent_text">Selected e-book has been sent to your e-mail address</div></div>
        <img class="ebooksent_image" src="../img/ebook_sent.svg">
        <a href="projects.html" class="ebooksent_tick"><img  src="../img/tick.svg"></a>
</body>