<!DOCTYPE html>
<head>
    <title>CHANGE PASSWORD</title>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
</head>
<body class="passwordchangedsuccessfully_container">
        <a href = "login.html"><i class="fa-sharp fa-solid fa-book"></i></a>
        <div class="passwordchangedsuccessfully_layout">e-mail changed successfully</div>
        <a href="projects.html" class="passwordchangedsuccessfully_tick"><img  src="../img/tick.svg"></a>
</body>