<!DOCTYPE html>
<head>
    <title>ENTER YOUR SHIPPING ADDRESS</title>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
</head>
<body class="enter_container">
    <a href = "login.html"><i class="fa-sharp fa-solid fa-book"></i></a>
    <div class="enteryoushippingaddres_square">enter your shipping address</div>
    <div class="enter_forms">
        <div class="enter_col_1">
            <form class = "">
                <label class="enter_label">country</label>
                <input class = "enter_formsquare" type="text">
                <label class="enter_label">county / state</label>
                <input class = "enter_formsquare" type="text">
                <label class="enter_label">city</label>
                <input class = "enter_formsquare" type="text">
            </form>
        </div>
        <div class="enter_col_2">
            <form>
                <label class="enter_label">first name</label>
                <input class = "enter_formsquare" type="text">
                <label class="enter_label">street number</label>
                <input class = "enter_formsquare" type="text">
                <label class="enter_label">postal code</label>
                <input class = "enter_formsquare" type="text">
            </form>
        </div>
        <div class="enter_col_3">
            <form>
                <label class="enter_label">last name</label>
                <input class = "enter_formsquare" type="text">
                <label class="enter_label">street name</label>
                <input class = "enter_formsquare" type="text">
            </form>
        </div>
        <div class="enter_footer">
            <a href="" class="looking_tick"><img  src="../img/tick.svg"></a>
            <a href="" class="looking_back"><img  src="../img/back.svg"></a>
        </div>
    </div>
</body>