<!DOCTYPE html>
<head>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo.svg">
        </div>
        <div class="logo-container">
            <form>
                <input name="e-mail" type="text" placeholder="e-mail@gmail.com">
                <input name="password" type="password" placeholder="password">
                <button>LOG IN</button>
                <button>CREATE ACCOUNT</button>
            </form>
        </div>
    </div>
</body>