<!DOCTYPE html>
<head>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
    <title>MENU</title>
</head>
<body>
    <div class="base-container">
        <nav>
            <i class="fa-solid fa-gear"></i>
            <i class="fa-solid fa-book"></i>
            <div class="search-bar">
                <div class = "square">Tell us, what you want to do</div>
            </div>
            <ul>
                <button class="smaller-font">GET BOOK</button>
                <button class="smaller-font">GET E-BOOK</button>
                <button class="smaller-font">RETURN</button>
                <button class="smaller-font">LOG OUT</button>
            </ul>
        </nav>
        <main>
            <header>
                
                <div class="go-to-start-page">
                    
                </div>
            </header>

        </main>
    </div>
</body>