<!DOCTYPE html>
<head>
    <title>SETTINGS</title>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
</head>
<body class="base-container">
    <div class="settings_layout">
        <a href = "login.html"><i class="fa-sharp fa-solid fa-book"></i></a>
        <div class="settings_square_style del_acc_layout"><a href="deleteaccount.html">delete account</a></div>
        <div class="settings_square_style cha_pass_layout"><a href="changepassword.html">change password</a></div>
        <div class="settings_square_style cha_e-m_layout"><a href="change-email.html">change e-mail</a></div>
        <div class="settings_square_style cha_pho_num_layout"><a href="changenumber.html">change phone number</a></div>
        <a href="projects.html" class="back"><img  src="../img/back.svg"></a>
    </div>
</body>

