<!DOCTYPE html>
<head>
    <title>THANKS FOR SHOPPING</title>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
</head>
<body class="thanks_container">
    <a href = "login.html"><i class="fa-sharp fa-solid fa-book"></i></a>
    <div class="thanks_for_shopping_text">Thanks for shopping in out bookstore</div>
    <div class="we_will_inform_you">We will inform you about the shipment by e-mail</div>
    <div class="thanksforshopping_image"><img src="../img/thanksforshoping_image.svg"></div>
    <button class="thanks_back_button"><a href="">BACK</a></button>
    <button class="thanks_logout_button"><a href="">LOG OUT</a></button>
</body>