<!DOCTYPE html>
<head>
    <title>TELL US WHAT YOU ARE LOOKING FOR</title>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
</head>
<body class="looking_container">
    <a href = "login.html"><i class="fa-sharp fa-solid fa-book"></i></a>
    <div class="square_format">tell us what you are looking for</div>
    <div class="looking_form_holder">
        <div class="looking_col_1">
            <form class = "mini">
                <input class = "mini" name="author" type="text" placeholder="author">
                <input class = "mini"name="publisher" type="text" placeholder="publisher">
            </form>
        </div>
        <div class="looking_col_2">
            <form class = "mini">
                <input class = "mini" name="title" type="text" placeholder="title">
                <input class = "mini" name="ISBN" type="text" placeholder="ISBN">
            </form>
        </div>
    </div>
    <div class="looking_footer">
        <a href="projects.html" class="looking_back"><img  src="../img/back.svg"></a>
        <a href="" class="looking_tick"><img  src="../img/tick.svg"></a>
    </div>
</body>