<!DOCTYPE html>
<head>
    <title>TELL US WHAT HAPPEND</title>
    <link rel="stylesheet" type = "text/css" href="public/css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
</head>
<body class="whathappend_container">
    <a href = "login.html"><i class="fa-sharp fa-solid fa-book"></i></a>
    <div class="whathappend_square">tell us what happend</div>
    <form class="type_opinion_form">
        <label class="type_your_opinion">type your opinion here:</label>
        <input class="what_happend_input1">
    </form>
    <form class="provide_form">
        <div class="provide_text">provide the date and time when our courier can come to you</div>
        <label class="date">date:</label>
        <input class="datetime_square">
        <label class="time">time:</label>
        <input class="datetime_square">
    </form>
    <div class="whathappend_footer">
        <a href="wherecourierneedstogo.html" class="submit_button provide_text"><div>SUBMIT</div></a>
        <a href="projects.html" class="looking_back"><img  src="public/img/back.svg"></a>
    </div>
</body>