<!DOCTYPE html>
<head>
    <title>YES WE HAVE IT </title>
    <link rel="stylesheet" type = "text/css" href="../css/style.css">
    <script src="https://kit.fontawesome.com/61cd813530.js" crossorigin="anonymous"></script>
</head>
<body class="yeswehaveit_container">
    <a href = "login.html"><i class="fa-sharp fa-solid fa-book"></i></a>
        <div class="yeswehaveit_image"><img src="../img/yeswehaveit_image.svg"></div>
        <div class="yeswehaveit_square">YES WE HAVE IT!</div>
        <button class="addtocart_button"><a href="">add to cart</a></button>
        <button class="gotocart_button"><a href="cart.html">go to cart</a></button>
        <a href="whatyouarelooking.html" class="yeswehaveit_back"><img  src="../img/back.svg"></a>
</body>