body
{
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    justify-self: space-around;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(9, 172, 207, 0.59) 0%, rgba(147, 248, 86, 0) 100%);
    background-blend-mode: darken;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo
{
    display: block;
    justify-self: space-around;
    align-items: center;
    justify-content: center;
}

.logo img {
    justify-self: space-around;
    flex: 1;
    position: fixed;
    top: 25%;
    left: 0;
  }
  
.logo-container
{
    justify-self: space-around;
    position: absolute;
    width: 50%;
    margin-left: 30em;
}

.smaller-font {
    font-size: 110%;
  }

form {
    display: flex;
    flex: 2;
    left: 18em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    width: 80%;
    height: 40vh;
}

button, .button
{
    border-radius: 15px;
    align-items: center;

    width: 30%;
    border: none;
    line-height: 2.5em;
    font-family: 'Arial';
    font-weight: 450;
    font-size: 170%;
    line-height: 170%;

    text-transform: unset;
    font-feature-settings: 'ordn' on;

    color: gray;
    font-variation-settings: 'slnt' -5;

    border: 1px solid gray;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}


input
{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: auto;   
    width: 60%;
}

.base-container
{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(9, 172, 207, 0.59) 0%, rgba(147, 248, 86, 0) 100%);
    background-blend-mode: darken;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

nav {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 90%;
}

/* MENU */
    /*Top navigation*/
li{
    text-decoration: none;
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.nav_links {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
i{
    scale: 4;
}
    /*Hello! Choose your activity*/
.square{
    box-sizing: border-box;
    margin-top: 2em;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 691px;
    height: 69px;
    left: 391px;
    top: 137px;

    background: rgba(222, 245, 226, 0.3);
    mix-blend-mode: normal;
    border: 1px solid #000000;
    border-radius: 15px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;

    text-transform: uppercase;
    color: #FFFFFF;

    -webkit-text-stroke: 1px #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    /*options*/
main{
    display: flex;
    justify-content: center;
    bottom: auto;
    gap: 12em;
}
    /*options*/
.option
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;

    width: 170px;
    height: 120px;

    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 15px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 35px;

    text-align: center;
    text-transform: uppercase;

    color: #277993;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.fa-book{
    position: absolute;
    top: 2em;
    right: 2em;
}

.fa-gear{
    position: absolute;
    top: 2em;
    left: 2em;
}

.navbutton{
    width: fit-content;
    height: fit-content;
    display: block;
    margin-top: -2.5em;
    font-size: 250%;

    color: #FFFFFF;
    text-transform: uppercase;
    -webkit-text-stroke: 1px #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

a {
    display: grid;
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    align-items: center;
    justify-items: center;
  }

/*CREATE ACCOUNT*/

.create_account_container
{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 10% 40% 30%;

    background: linear-gradient(180deg, rgba(9, 172, 207, 0.59) 0%, rgba(147, 248, 86, 0) 100%);
    background-blend-mode: darken;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    width: 100vw;
    height: 100vh;
}

.square2{
    width: fit-content;
    height: fit-content;
    padding: 0.25%;

    display: grid;
    grid-row: 2;
    grid-column: 2;
    justify-content: center;
    align-items: center;

    background: rgba(222, 245, 226, 0.3);
    mix-blend-mode: normal;
    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;

    text-transform: uppercase;
    color: #FFFFFF;

    -webkit-text-stroke: 1px #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tellform{
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-row: 3;
    grid-column: 2;
}
.create_account_crossedout{
    display: grid;
    grid-column: 2;
    grid-row: 4;
    justify-content: center;
    align-items: center;
    grid-template-columns: 50% 50%;
}

div img{
    scale: 0.7;
    display: grid;
    align-items: center;
}

.list {
    display: grid;
    align-items: center;
    list-style: none;
    padding-right: 2em;
  }
  
  li i{
    position: absolute;
    top: 2em;
    right: 2em;
  }

.tell_us{
    display: grid;
    grid-row: 3;
    grid-column: 2;
    text-transform: lowercase;
    width: 110%;
    align-items: center;
    justify-content: center;
}

.create_account_button{
    width: 9vw; 
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100%;
}

.create_account_image{
    display: grid;
    align-items: right;
    grid-row: 4;
    grid-column: 3;
    justify-content: left;
}

/*ACCOUNT CREATED SUCCESSFULLY*/
.account_created_successfully_square{
    display: grid;
    width: 12em;
    height: fit-content;
    padding: 0.3em;

    grid-column: 2;
    grid-row: 2;

    align-items: end;
    justify-content: space-around;
    background: rgba(222, 245, 226, 0.3);
    mix-blend-mode: normal;
    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;

    text-transform: uppercase;
    color: #FFFFFF;

    -webkit-text-stroke: 1px #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.account_created_book{
    grid-column: 4;
    grid-row: 3;
}

.account_created_successfully_layout{
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-columns: 5% repeat(3, 30%) 5%;
    grid-template-rows: 10% repeat(3, 30%);
}
.go_shopping_button{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-column: 3;
    grid-row: 5;
}

/* SETTINGS */
.settings_layout{
    height: 100vh; /* jednostki względem viewportu */
    width: 100vw;

    display: grid;
    grid-template-columns: 5% repeat(5, 18%) 5%;
    grid-template-rows: 5% repeat(4, 22.5%) 5%;
    align-items: center;

}

.settings_square_style{
    padding: 0.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    text-transform: lowercase;

    background: rgba(222, 245, 226, 0.3);
    mix-blend-mode: normal;
    border: 1px solid #000000;
    border-radius: 15px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;

    color: #FFFFFF;

    -webkit-text-stroke: 1px #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.del_acc_layout{
    grid-row: 2;
    grid-column: 2 / 4;
}

.cha_pass_layout{
    grid-row: 3;
    grid-column: 2 / 4;
}

.cha_e-m_layout{
    grid-row: 3;
    grid-column: 5 / 7;
}

.cha_pho_num_layout{
    grid-row: 4;
    grid-column: 5 / 8;
}

.back{
    grid-column: 4;
    grid-row: 5;
}

/* Tell us what you are looking for */
.looking_container{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    grid-template-rows: 5% 15% 50% 30%;

    background: linear-gradient(180deg, rgba(9, 172, 207, 0.59) 0%, rgba(147, 248, 86, 0) 100%);
    background-blend-mode: darken;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    width: 100vw;
    height: 100vh;
}

.square_format{
    display: grid;
    grid-row: 2;
    grid-column: 2;
    align-items: center;
    justify-content: center;

    width:fit-content;
    height: fit-content;
    padding: 1%;

    background: rgba(222, 245, 226, 0.3);
    mix-blend-mode: normal;
    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;

    color: #FFFFFF;

    -webkit-text-stroke: 1px #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.looking_form_holder{
    display: grid;
    grid-row: 3;
    grid-column: 2;
    grid-template-columns: 50% 50%;
    height: fit-content;
}

.looking_col_1{
    grid-column: 1;
}

.looking_col_2{
    grid-column: 2;
}

.looking_footer{
    display: grid;
    align-items: center;
    grid-row: 4;
    grid-column: 2;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}

.looking_back{
    align-items: center;
    justify-content: center;
    grid-column: 2;
}

.looking_tick{
    scale: 0.8;
    grid-column: 1;
    grid-row: 1;
    align-items: center;
    justify-content: center;
}

/* What happend */
.whathappend_container{
    display: grid;
    grid-template-columns: 10% 10% 35% 30% 15%;
    grid-template-rows: 12% 13% repeat(2, 25%);

    background: linear-gradient(180deg, rgba(9, 172, 207, 0.59) 0%, rgba(147, 248, 86, 0) 100%);
    background-blend-mode: darken;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    width: 100vw;
    height: 100vh;
}

.whathappend_square{
    display: grid;
    grid-row: 2;
    grid-column: 2 / 4;
    align-items: center;
    justify-content: center;

    width:fit-content;
    height: fit-content;
    padding: 1%;

    background: rgba(222, 245, 226, 0.3);
    mix-blend-mode: normal;
    border: 1px solid #000000;
    border-radius: 10px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;

    color: #FFFFFF;

    -webkit-text-stroke: 1px #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.type_opinion_form{
    display: grid;
    grid-row: 3 / 5;
    grid-column: 2 / 4;
    justify-content: left;
    align-items: start;
    width: fit-content;

    grid-template-rows: 20% 80%;
}

.type_your_opinion, .date, .time{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 61px;

    color: #FFFFFF;

    -webkit-text-stroke: 1px #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    text-transform: lowercase;
    justify-content: left;
    display: block;
    margin: 0;
}

.what_happend_input1{
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    grid-column: 1;
    grid-row: 2 ;
    width: 100%;
    height: 100%;
    margin: 0;
}

.provide_form{
    justify-content: right;
    grid-column: 4 / 6;
    grid-row: 3;

    display: grid;
    grid-template-rows: 20% 20% 15% 20 10%;
}
.provide_text{
    grid-row: 1;
    display: table-column;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 35px;

    color: #FFFFFF;
    -webkit-text-stroke: 1px #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.datetime_square{
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    width: 50%;
    height: 50%;
    justify-content: left;
    display: block;
    margin: 0;

}

.whathappend_footer{
    grid-row: 5;
    grid-column: 3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.submit_button{
    text-transform: uppercase;
    width: fit-content;
    height: fit-content;
    font-size: 60px;
    padding: 0.25em;

    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    margin-right: 2em;
    margin-left: 2em;
}

/* ############################################################ */
@media only screen and (max-device-width: 420px)
{
    *{
        font-size: 110%;
    }
    button, .button{
        width: 60%;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

    .logo-container{
        display: flex;
        align-items: center;
        height: fit-content;
        margin: 0;
    }

    form{
        margin-top: 15em;
        gap: 3em;
    }

    .logo img{
        width: 100vw;
        height: 15vh;
        
        scale: 1;
        display: flex;
        align-items: start;
        justify-content: center;
    }

    .base-container
    {
        width: 100%;
        position: static;
        align-items: center;
        align-self: center;
    }

    /* MENU */

    i{
        scale: 2;
    }

    .wrapper{
        height: auto;
        width: auto;
    }

    nav {
        gap: 70%;
    }

    li{
        margin-top: 2em;
    }

    /*Hello! Choose your activity*/
    .square{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 4em;
    
        width: 60%;
    
        font-weight: 50%;
        font-size: 90%;
    }
    /*Hello! Choose your activity*/
    main{
        flex-direction: column;
        align-items: center;
        margin-top: 4em;
        justify-content: space-evenly;
        gap: 3em;
    }

    .navbutton
    {
        font-size: 110%;
        display: grid;
        justify-content: center;
        align-items: center;
        width: 8em;
        height: 3.5em;
    }

    section{
        margin-top: -6em;
    }

    /*Create Account*/
    #tell_us{
        font-size: 120%;
        margin-top: 0;
        width: 100%;
        display: grid;
        grid-row: 3;
        justify-content: center; /* Aligns content horizontally */
        align-items: center; /* Aligns content vertically */
    }

    .square2 {
        display: grid;
        grid-row: 2;
        align-items: center;
        justify-content: center;
        grid-column: 2;
    }

    .create_account_container{
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: repeat(2, 10%) 60% repeat(2, 10%);
        align-items: center;
        gap: 0%;
    }

    .create_account_image{
        grid-row: 4;
        grid-column: 3;
        justify-content: left;
    }

    .createaccount_layout{
        display: grid;
        grid-column: 1/4;
        grid-row: 3;
    }
    .tellform{
        display: grid;
        grid-template-columns: repeat(2, 13em);
        grid-row-start: 1;
        justify-content: left;
        margin:0px;
    }

    .create_account_button{
        width: 15vw;
        height: auto;
        align-items: center; 
    }

    .create_account_crossedout{
        grid-template-columns: 100%;
        height: 150%;
    }
    /* ACCOUNT CREATED SUCCESSFULLY */
    .account_created_successfully_layout{
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(5, 20%);
    }
    .account_created_successfully_square{
        grid-column: 2;
        align-items: center;
        justify-content: center;
    }
    .go_shopping_button{
        grid-column: 2 / 4;
        grid-row: 3;
    }
    .account_created_book{
        grid-column: 2 / 4;
        grid-row: 4;
    }

    /* SETTINGS */
    .settings_layout{
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 10% repeat(4, 12%);
    }

    .del_acc_layout{
        grid-row: 2;
        grid-column: 2;
    }
    
    .cha_pass_layout{
        grid-row: 3;
        grid-column: 2;
    }
    
    .cha_e-m_layout{
        grid-row: 4;
        grid-column: 2;
    }
    
    .cha_pho_num_layout{
        grid-row: 5;
        grid-column: 2;
    }
    
    .back{
        grid-column: 2;
        grid-row: 6;
    }

    /* Tell us what you are looking for */
.looking_container{
    grid-template-rows: repeat(5, 10%) 25% 25%;
    grid-template-columns: 20% 60% 20%;
}

.looking_form_holder{
    height: fit-content;
    width: fit-content;

    display: grid;
    grid-row-start: 3;
    grid-column: 2;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    align-items: start;
}

.looking_col_1{
    grid-column: 1;
    grid-row: 1;
    height: 50%;
    width: fit-content;
    height: fit-content;
    align-items: start;
}

.looking_col_2{
    grid-column: 1;
    grid-row: 2;
    height: fit-content;
    width: fit-content;
}

.mini{
    margin: 1em;
    width: fit-content;
    height: fit-content;
}

.looking_footer{
    display: block;
    justify-content: center;
    grid-row: 7;
    grid-column: 2;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    margin:auto;
}

.looking_back{
    grid-column: 1;
    grid-row: 1;
}

.looking_tick{
    scale: 0.8;
    grid-column: 1;
    grid-row: 1;

}

/* WHAT HAPPEND CONTAINIER */
.whathappend_container{
    grid-template-columns: 15% 75% 10%;
    grid-template-rows: 6% 5% 14% 12% 13% 25% 25%;
}

.whathappend_square{
    grid-row: 2;
    grid-column: 2;
    scale: 1.2;
}

.type_opinion_form{
    grid-row: 3 / 6;
    grid-column: 2;
    align-items: start;
    margin: 0;
    grid-template-rows: 7% 93%;
    row-gap: 2em;
    width: fit-content;
    height: fit-content;
}

.type_your_opinion, .date, .time{

    text-transform: lowercase;
    justify-content: left;
    display: block;
    margin: 0.5em;
    scale: 1.2;
}

.what_happend_input1{
    grid-column: 1;
    grid-row: 2 ;
    margin: 0.5em;
    width: 150%;
    height: 150%;
}

.provide_form{
    justify-content: center;
    align-items: center;
    grid-row: 5;
    grid-column: 2;
    margin: 2em;

    display: grid;
    grid-template-rows: repeat(5, 10%);
    row-gap: 0;

}
.provide_text{
    scale: 1.3;
    margin: 1.5em;
    padding: 0.5em;
}

.whathappend_footer{
    grid-row: 7;
    grid-column: 2;
    flex-direction: column;
}

.submit_button{
    margin: 0.25em;
}
}
